@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root{
    --red: #e01c28;
    --grey: #2e2e2e;
}

*{
    margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

button{
    all: unset;
    padding: 3px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 8px auto;
  max-width: 1280px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
}
