@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --red: #e01c28;
  --grey: #2e2e2e;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

button {
  all: unset;
  padding: 3px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 8px auto;
  max-width: 1280px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.hero h1 {
  font-weight: 800;
  line-height: 80px;
  font-size: 80px;
  margin-top: 33px;
  margin-left: 85px;
}
.hero p {
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
  font-size: 15px;
  margin-left: 85px;
}

.hero-btn {
  display: flex;
  gap: 40px;
  margin-left: 85px;
}

.hero-btn button {
  font-size: 24px;
}

.btn2 {
  background-color: rgb(228, 220, 220);
  color: var(--grey);
}
.secondary-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}
.icons {
  display: flex;
  gap: 16px;
  margin-left: 85px;
}

.icons img {
  margin-top: -20px;
}
