
.navigation {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 24px;
  font-weight: 500;
}
